<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>淘宝众筹-项目详情</title>
    <meta name="spm-id" content="a215p.1472830">
    <link rel="stylesheet" href="stylesheets/proPay.css">
    <link rel="stylesheet" href="./bootstrap-3.3.5/css/bootstrap.min.css">
<body>
<div class="wrap">
    <!--头部导航栏-->
    <%- include('cmnheader')%>
    <div class="content">
        <div class="inner">
            <div class="pay">
                <p>您将要支付100元，请输入支付密码</p>
                <input type="text" class=""placeholder="请输入支付密码"/>
            </div>
            <div class="group">
                <input type="buttom" class="button j_editAds" value="确认支付"/>
            </div>
        </div>
    </div>
</div>

<script data-main="javascripts/proPay.js" src="javascripts/require.js"></script>
</body>
</html>