<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scaleble=no">
    <title>收货地址</title>
    <link rel="stylesheet" href="./bootstrap-3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="stylesheets/account.css">
</head>
<body>
<div class="wrap clearfix">
    <!--头部导航栏-->
    <%- include('cmnheader')%>
    <div class="content">
        <div class="inner">
            <%- include('cmnsection')%>
            <div class="innerCon">
                <ul class="tabNav">
                    <li class="cur">收货地址</li>
                </ul>
                <div class="tabCon">
                    <!--<div>-->
                        <!--<div class="box">-->
                            <!--<div class="ads-title-bar">-->
                                <!--<span>收件人</span>-->
                                <!--<span>电话</span>-->
                                <!--<span>邮编</span>-->
                                <!--<span>详细地址</span>-->
                                <!--<span>操作</span>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div>
                        <div class="box">
                            <div class="group">
                                <label for="">收件人：</label>
                                <input type="text" class="j_recipient " />
                            </div>
                            <div class="group">
                                <label for="">手机号：</label>
                                <input type="text" class="j_recTele"/>
                            </div>
                            <div class="group">
                                <label for="">详细地址：</label>
                                <input type="text" class ="j_address"style="width:400px"/>
                            </div>
                            <div class="group">
                                <label for="">邮编：</label>
                                <input type="text" class="j_postcode"/>
                            </div>
                            <div class="group">
                                <input type="buttom" class="button j_editAds" value="确定"/>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
<script data-main="javascripts/address.js" src="javascripts/require.js"></script>
</body>
</html>