<header class="row">
    <div class="col-sm-offset-2 col-sm-8 col-xs-12 top-header clearfix">
        <a class="logo fl" href="index">
            <img src="./images/newlogo.png">
        </a>
        <nav class="fl">
            <a class="fl nav-item" href="index">首页</a>
            <a class="fl nav-item" href="scan">浏览项目</a>
            <a class="fl nav-item" href="personal">我的众筹</a>
            <a class="start-btn" href="startProject"><span class="glyphicon glyphicon-plus"></span> 发起项目</a>
        </nav>
        <div class="fr J-user-info">
            <a class="nav-item" href="login">登录</a>
            <a class="nav-item" href="register">注册</a>
        </div>
    </div>
</header>