<div class="personal-index fl">
    <section>
        <h2>项目</h2>
        <ul>
            <li><a href="personal">我的发起</a></li>
            <li><a href="mySupport">我的支持</a></li>
            <li><a href="myAttention">我的关注</a></li>
        </ul>
    </section>
    <section>
        <h2>设置</h2>
        <ul>
            <li><a href="account">我的账户</a></li>
            <li><a href="userinfo">个人资料</a></li>
            <li><a href="editPwd">修改密码</a></li>
            <li><a href="adress">收货地址</a></li>
        </ul>
    </section>
</div>