
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>项目详情</title>
    <meta name="spm-id" content="a215p.1472830">
    <link rel="stylesheet" href="stylesheets/detail.css">
    <link rel="stylesheet" href="./bootstrap-3.3.5/css/bootstrap.min.css">
  <body>
    <div class="wrap">
        <!--头部导航栏-->
        <%- include('cmnheader')%>
        <div class="pcontainer">
            <div class="projectDetail clearfix">
                <div class="project_title clearfix">
                    <img src="../images/touxiang.png" alt="发起人头像" class="sImg"/>
                    <div class="fl" style="max-width:700px;margin-left: 30px">
                        <h1>标题</h1>
                            <p class="sponsor">发起人<span class="j_apply">liuliuliu</span></p>
                    </div>
                    <div class="fr attbox ">
                        <i class="zhichi glyphicon glyphicon-user"></i>
                        <p>支持(<span class="j_support">0</span>)</p>
                    </div>
                    <div class="fr attbox j_payAtt">
                       <i class="guanzhu glyphicon glyphicon-star-empty"></i>
                        <p>关注(<span class="j_attention">0</span>)</p>
                    </div>

                </div>
                <div class="project_tabs">
                    <ul class="tabs_wrap clearfix">
                        <li class="selected">项目主页</li>
                        <li>项目动态</li>
                    </ul>
                </div>
                <div class="project_situation fr">
                    <div class="box">
                        <div class="money-box">
                            <h2>目前累计资金:</h2>
                            <p class="current-money"><span class="yen">¥</span><span class="money">1465714.00</span></p>
                            <p class="target-money">此项目须在&nbsp;<span class="fTime">2015/07/04</span>&nbsp;前，获得<em><span class="yen">¥</span><span class="money">1000000.00</span></em>的支持才可成功!</p>
                        </div>
                        <div class="reserve">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                    60%
                                </div>
                            </div>

                            <div class="projects-schedule-data">
                                <span class="support-number">支持人数:</span><span class="data-number people">12888人</span>
                                <span class="time-left">剩余时间:</span><span class="data-number time">37天</span>
                            </div>
                        </div>
                    </div>
                    <div class="repays" data-spm="1997711789">
                        <div class="repay-box">
                            <div class="repay1">
                                <span>￥20</span>
                                <a href="javascript:void(0)" class="support" id = "repay1">支持</a>
                                <p class="rpTitle"></p>
                                <p class="rpCon">血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂</p>
                            </div>
                            <div class="repay2">
                                <span>￥100</span>
                                <a href="javascript:void(0)" class="support" id = "repay2">支持</a>
                                <p class="rpTitle"></p>
                                <p class="rpCon">血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂</p>
                            </div>
                            <div class="repay3">
                                <span>￥200</span>
                                <a href="javascript:void(0)" class="support" id = "repay3">支持</a>
                                <p class="rpTitle"></p>
                                <p class="rpCon">血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂血染江山的画，怎敌你眉间一点朱砂</p>
                            </div>
                        </div>
                    </div>
                    <div class="explain">
                        <h2>风险提示</h2>
                        <p class="explain-p">1.&nbsp;众筹项目存在一定风险，如项目筹款成功但发放回报出现问题，您可申请退款退回支持金额（一次性支付）中的尾款部分，而订金部分由于已被项目组织者使用，退还订金事宜需要您和项目组织者自行协商，淘宝没有帮您追讨订金的义务。</p>
                        <p class="explain-p">2.&nbsp;请在下单后15分钟内付款哦，否则您的订单会被自动关闭。</p>
                        <p class="explain-p">3.&nbsp;本页面统计的项目总支持人数和总支持金额存在一定的延迟，以单个回报详情为准。 </p>
                        <b></b>
                    </div>
                </div>
                <div class="project_content ">
                    <div class="project_main ">
                        <div class="content">
                            <h2 class="title">项目介绍</h2>
                            <div class="box">
                                <p class="proDes">一双可以计步、联网游戏的好鞋子，NIKE同款大底，未来市价399，99元火爆众筹中。</p>
                            </div>
                        </div>
                        <div class="cover ">
                        </div>
                    </div>
                    <div class="project_jindu" style="display:none">
                        <div class="noneCon" style="text-align: center;margin: 100px 0">
                            <img src="images/none.gif" alt=""/>
                            <p>该项目暂时还没有发布状态哟</p>
                        </div>
                        <div class="progressBox">

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <script type="text/javascript" src="javascripts\jquery-2.1.3.js"></script>
    <script type="text/javascript" src="javascripts\detail.js"></script>
  </body>
</html>