<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="imgPlayer">
        <div class="img_list">
            <ul>
                <li>
                    <a href="javascript:;"><img src="images/ad1.jpg" alt=""></a>
                </li >
                <li style="display:none">
                    <a href=""><img src="images/ad2.jpg" alt=""></a>
                </li>
                <li style="display:none">
                    <a href=""><img src="images/ad3.jpg" alt=""></a>
                </li>
            </ul>
        </div>
        <div class="new_arr">
            <a  class="" id="al" onclick="switchPhoto(true)"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
            <a  class="fr" id="ar" onclick="switchPhoto(false)"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
    </div>
</body>
</html>