<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户手册</title>
    <link rel="stylesheet" href="./bootstrap-3.3.5/css/bootstrap.min.css">
    <link type="text/css" href="/stylesheets/term.css" rel="stylesheet">
</head>
<body class="chl-reg">

    <div class="container-fluid start-pro">
        <header class="row">
            <div class="col-sm-offset-2 col-sm-8 col-xs-12 top-header clearfix">
                <a class="logo fl" href="index.html">
                    <img src="./images/newlogo.png">
                </a>
                <nav class="fl">
                    <a class="fl nav-item" href="so">首页</a>
                    <a class="fl nav-item" href="scan">浏览项目</a>
                    <a class="fl nav-item" href="">我的众筹</a>
                    <a class="start-btn" href="startProject"><span class="glyphicon glyphicon-plus"></span> 发起项目</a>
                </nav>
                <div class="fr J-user-info">
                    <a class="nav-item" href="login">登录</a>
                    <a class="nav-item" href="register">注册</a>
                </div>
            </div>
        </header>
        <!--content-->
        <div class="container content">
            <div class="row term_of_use site-info">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>用户协议</h2>
                            <h4 class="nav-title">一、声明与提示</h4>
                            <hr>
                            <p>1. 以梦为马公司是以梦为马众筹的所有人，同意按照本协议的规定及其不时发布的操作规则提供基于互联网的相关服务(以下称“网络服务”)。服务使用人(以下称“用户”)需同意遵守以梦为马公司发布的全部协议、规则和条款才能使用网络服务。无论用户是以访客还是注册用户/会员身份访问本网站，均表示用户自愿遵守包括但不限于本协议项下的全部条款。</p>
                            <p>2. 如果用户自愿注册成为以梦为马众筹会员，或不注册但使用以梦为马众筹网站、客户端及各种附加服务，请务必认真阅读本协议。注册用户需在注册中书面确认同意接受本协议。本协议的内容包含以梦为马众筹关于接受以梦为马众筹服务、在以梦为马众筹网站上发布内容的规定、用户使用以梦为马众筹提供的服务所享有的权利、承担的义务和对使用以梦为马众筹服务所受的限制、以及以梦为马众筹的隐私条款。</p>
                            <p>3. 以梦为马公司有权在不通知用户的情况下根据具体情况变更本协议，请用户自行了解和审阅本协议的变更情况。协议条款一旦发生变动，以梦为马公司将会在以梦为马众筹相关的页面上提示变更内容。变更后的协议在相关的页面上公布即有效代替原来的协议。用户如不同意以梦为马公司对本协议的所作的任何变更，应立即停止使用以梦为马公司提供的服务。如用户在本协议变更后继续使用以梦为马公司的服务，即视作用户已完全同意变更后的协议。</p>
                            <h4 class="nav-title">二、 服务内容与保证</h4>
                            <hr>
                            <p>1. 以梦为马众筹服务的具体内容由以梦为马公司根据实际情况提供。以梦为马公司保留随时变更、中止或终止部分或全部网络服务的权利。</p>
                            <p>2. 用户通过任何以梦为马众筹提供的服务上传、存储、发布(通过电子邮件或任何其它方式传送)的文本、文件、图像、照片、视频、声音、音乐、其他创作作品或任何其他材料(以下统称"内容")，均由用户作为内容提供者承担责任。以梦为马众筹仅作为提供存储空间和展示机会的第三方平台不对该等内容的正确性、完整性或品质作出任何保证，亦不对由其产生的任何损失或损害负责。</p>
                            <p>3. 用户对上传、存储和发布的内容享有权利并承担全部法律责任。用户在以梦为马众筹上传、存储和发表内容即视同授予以梦为马众筹为履行服务和宣传，使用、修改、复制、传播和出版此类内容。用户同意就上述内容授予以梦为马众筹免费、永久有效的、非独家的、可转授权的、在全球范围内对所发布内容进行使用、复制、修改、改写、改编、发行、翻译、创造衍生性著作的权利，及/或可以将前述部分或全部内容加以传播、表演、展示，及/或可以将前述部分或全部内容放入任何现在已知和未来开发出的以任何形式、媒体或科技承载的著作当中。</p>
                            <p>4. 用户在使用以梦为马众筹服务及上传、存储和发布的内容时，必须遵守中华人民共和国相关法律法规的规定，用户保证不会利用以梦为马众筹服务进行任何违法或不正当的活动，包括但不限于下列行为∶</p>
                            <ul>
                                <li>上传、存储、展示、张贴或以其它方式传播含有下列内容之一的信息：</li>
                                <li>反对宪法及其他法律的基本原则的;</li>
                                <li>危害国家安全，泄露国家秘密，颠覆国家政权，破坏国家统一的;</li>
                                <li>损害国家荣誉和利益的;</li><li>煽动民族仇恨、民族歧视、破坏民族团结的;</li>
                                <li>破坏国家宗教政策，宣扬邪教和封建迷信的;</li>
                                <li>散布谣言，扰乱社会秩序，破坏社会稳定的;</li>
                                <li>散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的;</li>
                                <li>侮辱或者诽谤他人，侵害他人合法权利的;</li>
                                <li>含有虚假、有害、胁迫、侵害他人隐私、骚扰、中伤、粗俗、猥亵、或其它道德上令人反感的内容;</li>
                                <li>含有中国法律、法规、规章、条例以及任何具有法律效力的规范所限制或禁止的其它内容的;</li>
                                <li>不得为任何非法目的而使用网络服务系统;</li>
                                <li>用户同时保证不会利用以梦为马众筹服务从事以下活动：</li>
                                <li>未经允许，进入计算机信息网络或者使用计算机信息网络资源的;</li>
                                <li>未经允许，对计算机信息网络功能进行删除、修改或者增加的;</li>
                                <li>未经允许，对进入计算机信息网络中存储、处理或者传输的数据和应用程序进行删除、修改或者增加的;故意制作、传播计算机病毒等破坏性程序的;</li>
                                <li>其他危害计算机信息网络安全的行为。</li>
                            </ul>
                            <p>5. 以梦为马众筹服务中包含以梦为马众筹提供的内容，包含用户和其他以梦为马众筹许可方的内容(下称"以梦为马众筹的内容")。以梦为马众筹的内容受《中华人民共和国著作权法》、《中华人民共和国商标法》、《中华人民共和国专利法》、《中华人民共和国反不正当竞争法》和其他相关法律法规的保护，以梦为马众筹拥有并保持对以梦为马众筹的内容和以梦为马众筹服务的所有权利、知识产权和其他合法权益(包括但不限于名誉权、商誉等)。</p>
                            <p>用户声明并保证：用户对其在以梦为马众筹服务中或通过以梦为马众筹服务发布的内容拥有合法权利;用户在以梦为马众筹服务中或通过以梦为马众筹服务发布的内容不侵犯任何人的肖像权、隐私权、著作权、商标权、专利权、及其它合同权利。如因用户在以梦为马众筹服务中或通过以梦为马众筹服务发布的内容而需向其他任何人支付许可费或其它费用，全部由该用户承担。</p>
                            <p>用户不得对以梦为马众筹服务的任何部分或全部以及通过以梦为马众筹取得的任何形式的信息，进行复制、拷贝、出售、转售或用于任何其它商业目的。</p>
                            <p>6. 如用户在使用网络服务时违反任何上述规定，以梦为马众筹或经其授权者有权要求该用户改正或直接采取一切必要措施(包括但不限于更改、删除相关内容、暂停或终止相关用户使用以梦为马众筹服务)，并有权要求该用户赔偿以梦为马众筹因此承担的包括但不限于赔偿金、补偿金、和解金、罚金等损失，以及向以梦为马众筹在全国媒体公开道歉。</p>
                            <h4 class="nav-title">三、项目筹款</h4>
                            <hr>
                            <p>1.  以梦为马众筹是一个让作为项目创始人（发起人/管理人)的用户，通过提供回报向支持者筹集资金的平台。用户可以通过以梦为马众筹的服务向所有人发出募集要约，创建筹款项目。用户也可以作为支持者接受项目发起人的要约，以赞助项目发起人的筹款项目。以梦为马众筹是项目发起人和支持者之间的平台，不属于支持者和项目发起人中的任何一方。发起人和支持者的全部协议和交易仅属于用户和用户之间的法律行为，以梦为马众筹不对用户之间包括但不限于违约和侵权的法律纠纷承担任何担保和责任。</p>
                            <p>2. 支持通过以梦为马众筹发起的项目，用户须同意并遵守以下协议，包括如下条款：</p>
                            <ul>
                                <li>同意接受在其承诺支持某项目时提供付款授权信息 。</li>
                                <li>同意以梦为马众筹及其合作伙伴授权或保留收费的权利。</li>
                                <li>在项目进行中，只要还没有达到100%目标，支持者都可以任意取消支持。一旦该项目达到100%目标后，可以由项目管理人取消支持者的支持，通过以梦为马众筹退款给支持者。</li>
                                <li>回报预期的完成日期仅为项目创始人预期的实现日期，对项目创始人没有法定约束力。</li>
                                <li>对于所有项目，以梦为马众筹将提供所有支持者的用户名称和联系方式提供给项目发起人。项目成功时，以梦为马众筹将额外提供支持者的姓名、联系方式和邮寄地址等信息给予项目发起人。</li>
                                <li>项目发起人可以在项目成功后直接向支持者要求合理的额外信息。为了顺利获得回报，支持者须同意在合理期限内提供给项目发起人相关信息。</li>
                                <li>如项目难以进行或无法满足回报需求时，项目发起人应当应支持者的请求而进行妥善处理。</li>
                                <li>项目发起人/管理人须在项目成功后满足承诺给支持者的回报，或在无法实现的情况下将尚未使用的筹集按比例返还给支持者。</li>
                                <li>项目发起人/管理人可随时取消或退款给支持者，退款完毕时，无须实现回报要求。</li>
                                <li>以梦为马众筹保留随时以任何理由取消项目的权利。</li>
                                <li>以梦为马众筹有权随时以任何理由拒绝、取消、中断、删除或暂停该项目。以梦为马众筹不因该行为承担任何赔偿。以梦为马众筹的政策并非评论此类行为的理由。</li>
                                <li>在项目成功和获得款项之间可能存在延迟。</li>
                                <li>以梦为马众筹不承担任何相关回报或使用服务产生的损失或亏损。以梦为马众筹无义务介入任何用户之间的纠纷，或用户与其他第三方就服务使用方面产生的纠纷。包括但不限于货物及服务的交付，其他条款、条件、保证或与网站活动相关联的有关陈述。以梦为马众筹不负责监督项目的实现与严格执行。用户可授权以梦为马众筹、其工作人员、职员、代理人及对损失索赔权的继任者所有已知或未知、公开或秘密的解决争议的方法和服务。</li>
                            </ul>
                            <p>3. 加入与使用以梦为马众筹保留未来对某些特定服务收费的权利。用户使用某项服务时可以看到其中需要支付费用的项目，费用的变化在以梦为马众筹公布后生效。用户负责支付使用该服务产生的所有费用和税款。</p>
                            <p>向支持者筹集的资金通过第三方支付平台支付，以梦为马众筹对第三方支付平台的支付性能不承担责任。</p>
                            <p>第三方平台收取的服务费，由项目发起人承担。</p>
                            <p>4. 以梦为马众筹为项目发起人提供代收、代付、退返、查询等服务。梦网对用户支付 的款项行保管之责，并代表用户与项目发起人约定监管条件，并按期交付给项目发 起 人。所有款项均视同为由用户交付给项目发起人。在项目遇到困难应发起人要 求撤销、或被迫撤销时，未支付的款项将返还用户。</p>
                            <h4 class="nav-title">四、平台责任与豁免</h4>
                            <hr>
                            <p>1. 由于用户通过以梦为马众筹服务上传、张贴、发布或传播的内容，或因用户与本服务连线，或因用户违反本使用协议，或因用户侵害他人任何权利而导致任何第三人向以梦为马众筹提出赔偿请求，该用户同意赔偿以梦为马众筹及其股东、子公司、关联企业、代理人、品牌共有人或其它合作伙伴相应的赔偿金额(包括以梦为马众筹支付的律师费等)，以使以梦为马众筹的利益免受损害。</p>
                            <p>2. 用户承认以梦为马众筹有权制定关于服务使用的一般措施及限制，包括但不限于以梦为马众筹服务将保留用户的电子邮件信息、用户所张贴内容或其它上载内容的最长保留期间、用户一个帐号可收发信息的最大数量、用户帐号当中可收发的单个信息的大小、以梦为马众筹服务器为用户分配的最大磁盘空间，以及一定期间内用户使用以梦为马众筹服务的次数上限(及每次使用时间之上限)。通过以梦为马众筹服务存储或传送的任何信息、通讯资料和其它任何内容，如被删除或未予储存，用户同意以梦为马众筹毋须承担任何责任。用户亦同意，超过一年未使用的帐号，以梦为马众筹有权关闭。以梦为马众筹有权依其自行判断和决定，随时变更相关一般措施及限制。</p>
                            <p>3. 用户了解并同意，无论通知与否，以梦为马众筹有权于任何时间暂时或永久修改或终止部分或全部以梦为马众筹服务，对此，以梦为马众筹对用户和任何第三人均无需承担任何责任。用户同意，所有上传、张贴、发布到以梦为马众筹的内容，以梦为马众筹均无保存义务，用户应自行备份。以梦为马众筹不对任何内容丢失以及用户因此而遭受的相关损失承担责任。</p>
                            <p>4. 用户同意以梦为马众筹可单方面判断并决定，如果用户违反本使用协议或用户长时间未能使用其帐号，以梦为马众筹可以终止该用户的密码、帐号或某些服务的使用，并可将该用户在以梦为马众筹服务中留存的任何内容加以移除或删除。以梦为马众筹亦可基于自身考虑，在通知或未通知之情形下，随时对该用户终止部分或全部服务。用户了解并同意依本使用协议，无需进行事先通知，以梦为马众筹可在发现任何不适宜内容时，立即关闭或删除该用户的帐号及其帐号中所有相关信息及文件，并暂时或永久禁止该用户继续使用前述文件或帐号。</p>
                            <p>5. 用户通过以梦为马众筹服务与广告商进行任何形式的通讯或商业往来，或参与促销活动(包括相关商品或服务的付款及交付)，以及达成的其它任何条款、条件、保证或声明，完全是用户与广告商之间的行为。除有关法律法规明文规定要求以梦为马众筹承担责任外，用户因前述任何交易、沟通等而遭受的任何性质的损失或损害，以梦为马众筹均不予负责。</p>
                            <p>6. 用户了解并同意，以梦为马众筹不保证服务或第三人提供的其它网站或资源的链接可以利用，不保证内容、广告、产品或其它资料的真实性与合法性。如用户因使用或信赖任何此类网站或资源发布的或经由此类网站或资源获得的任何商品、服务、信息而承受任何损害，以梦为马众筹不负任何直接或间接责任。</p>
                            <p>7. 用户承诺不对以梦为马众筹服务的任何部分或全部以及用户通过以梦为马众筹的服务取得的任何物品、服务、信息等，进行复制、拷贝、出售、转售或用于任何其它商业目的。用户了解并同意，以梦为马众筹服务及其所使用的相关软件(以下简称"服务软件")含有受到相关知识产权及其它法律保护的专有保密资料。用户同时了解并同意，经由以梦为马众筹服务或广告商向用户呈现的赞助广告或信息所包含之内容，亦可能受到著作权、商标、专利等相关法律的保护。未经以梦为马众筹或广告商书面授权，用户不得修改、出售、传播部分或全部服务内容或软件，或加以制作衍生服务或软件。以梦为马众筹仅授予用户个人非专属的使用权，用户不得(也不得允许任何第三人)复制、修改、创作衍生著作，或通过进行还原工程、反向编译及其它方式破译源代码。用户也不得以转让、许可、设定任何担保或其它方式移转服务和软件的任何权利。用户同意只能通过由以梦为马众筹所提供的界面而非任何其它方式使用以梦为马众筹服务。</p>
                            <p>8. 用户应提供及时、详尽、准确的个人资料，并不断及时更新注册时提供的个人资料，保持其详尽、准确。所有用户输入的资料将引用为注册资料。以梦为马众筹不对因用户提交的注册信息不真实或未及时准确变更信息而引起的问题、争议及其后果承担责任。</p>
                            <p>用户不应将其帐号、密码转让、出借或告知他人，供他人使用。如用户发现帐号遭他人非法使用，应立即通知以梦为马众筹。因黑客行为或用户的保管疏忽导致帐号、密码遭他人非法使用的，以梦为马众筹不承担任何责任。</p>
                            <p>9. 用户提供的注册信息及以梦为马众筹保留的用户所有资料将受到中国相关法律法规和以梦为马众筹《隐私权政策》的规范。《隐私权政策》构成本协议不可分割的一部分。</p>
                            <p>10. 用户使用以梦为马众筹服务的风险由用户个人承担。以梦为马众筹对服务不提供任何明示或默示的担保或保证，包括但不限于商业适售性、特定目的的适用性及未侵害他人权利等的担保或保证。</p>
                            <p>用户明确了解并同意，基于以下原因而造成的任何损失，以梦为马众筹均不承担任何直接、间接、附带、特别、衍生性或惩罚性赔偿责任(即使以梦为马众筹事先已被告知用户或第三方可能会产生相关损失)：</p>
                            <ul>
                                <li>以梦为马众筹服务的使用或无法使用;</li>
                                <li>通过以梦为马众筹服务购买、兑换、交换取得的任何商品、数据、信息、服务、信息，或缔结交易而发生的成本;</li>
                                <li>用户的传输或数据遭到未获授权的存取或变造;</li>
                                <li>任何第三方在以梦为马众筹服务中所作的声明或行为;</li>
                                <li>与以梦为马众筹服务相关的其它事宜，但本使用协议有明确规定的除外。</li>
                            </ul>
                            <p>11. 以梦为马众筹亦不保证以下事项：</p>
                            <ul>
                                <li>服务将符合用户的要求;</li>
                                <li>服务将不受干扰、及时提供、安全可靠或不会出错;</li>
                                <li>使用服务取得的结果正确可靠;</li>
                                <li>用户在以梦为马众筹上传的内容合法；</li>
                                <li>用户经由以梦为马众筹服务购买或取得的任何产品、服务、资讯或其它信息将符合用户的期望，且软件中任何错误都将得到更正。</li>
                                <li>用户应自行决定使用以梦为马众筹服务下载或取得任何资料且自负风险，因任何资料的下载而导致的用户电脑系统损坏或数据流失等后果，由用户自行承担。</li>
                                <li>用户经由以梦为马众筹服务获知的任何建议或信息(无论书面或口头形式)，除非使用协议有明确规定，将不构成以梦为马众筹对用户的任何保证。</li>
                            </ul>
                            <h4 class="nav-title">五、法律适用及其它</h4>
                            <hr>
                            <p>1. 当使用以梦为马众筹服务时，用户同意遵守中华人民共和国(下称"中国")的相关法律法规，包括但不限于《中华人民共和国宪法》、《中华人民共和国合同法》、《中华人民共和国电信条例》、《互联网信息服务管理办法》、《互联网电子公告服务管理规定》、《中华人民共和国保守国家秘密法》、《全国人民代表大会常务委员会关于维护互联网安全的决定》、《中华人民共和国计算机信息系统安全保护条例》、《计算机信息网络国际联网安全保护管理办法》、《中华人民共和国著作权法》及其实施条例、《互联网著作权行政保护办法》等。用户只有在同意遵守所有相关法律法规和本协议时，才有权使用以梦为马众筹服务(无论用户是否有意访问或使用此服务)。请用户仔细阅读本协议并将其妥善保存。</p>
                            <p>2. 本协议构成用户与以梦为马众筹之间的正式协议，并用于规范用户的使用行为。在用户使用以梦为马众筹服务、使用第三方提供的内容或软件时，在遵守本协议的基础上，亦应遵守与该等服务、内容、软件有关附加条款及条件。</p>
                            <p>用户与以梦为马众筹就服务本身、本使用协议或其它有关事项发生的争议，应通过友好协商解决。协商不成的，应向上海市浦东新区人民法院提起诉讼。</p>
                            <p>以梦为马众筹未行使或执行本使用协议设定、赋予的任何权利，不构成对该等权利的放弃。</p>
                            <p>本使用协议中的任何条款因与中华人民共和国法律相抵触而无效，并不影响其它条款的效力。</p>
                            <p>3. 任何第三方发现用户在以梦为马众筹上传的内容侵犯自己的权益，有权向以梦为马众筹发函投诉，投诉函需有权利证明。以梦为马众筹将及时将投诉内容通报上传的用户，用户在规定时间内未答复的将被屏蔽或删除内容。用户承诺内容合法并进行担保的，以梦为马众筹将向投诉方转告，投诉方可选择向法院起诉或向相关行政部分投诉。</p><p>以梦为马众筹接投诉、举报或自行发现任何内容涉嫌违法或违规，有权自行决定要求用户进行解释和担保，或直接采取包括但不限于屏蔽、删除内容和暂停、终止服务及向有关机关报告。</p></div>
                        </div>
                    </div>
                </div>
            </div>
        <!--content end-->
    </div>


<script type="text/javascript" src="/javascripts/register.js"></script>
<script src="/javascripts/jquery-2.1.3.js"></script>
<script>
    var e1,email,username,password;

    //点击下一步 登录名显示所填邮箱
    $("#J_next").click(function(){

        e1 = $("#J_email").val();  //取到所填邮箱
        $("#userEmail").html(e1);
    });

    //点击确定 发送请求
    $("#J_ensure").click(function(){
        email = e1;
        password =  $("#J_password").val(); //取密码
        username =  $("#J_vipname").val();  //取会员名
        $.ajax({
            type: "post",
            url: "/userSave",
            data:{
                email:email,
                username:username,
                password:password
            },
            success: function(data) {
                alert("成功");
            },
            error: function(data) {
                alert("失败");
            }
        })
    });

     //ajax提交数据
    function submitData(){

//        var newuser = {
//            email:emai,
//            username:usernam,
//            password:passwor
//        };
//        var xhr = new XMLHttpRequest();
//        xhr.onreadystatechange = function () {
//            if (xhr.readyState == 4) {
//                if ((xhr.status >= 200 && xhr.status < 300) || xhr.status == 304) {
//                    alert("success register");
//                } else {
//                    alert("request was unsuccessful" + xhr.status);
//                }
//            }
//        };
//        xhr.open("post", "/userSave",true);
//        xhr.setRequestHeader('CONTENT-TYPE','application/x-www-form-urlencoded');
//        xhr.send(newuser);
    }

</script>

</body>
</html>