<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<ul class="nav">
    <li>1</li>
    <li>2</li>
    <li>3</li>
</ul>
<div class="con">
    <div>这是模块1</div>
    <div style="display: none">这是模块2</div>
    <div style="display: none">这是模块3</div>
</div>
</body>
<script data-main="javascripts/test.js" src="javascripts/require.js"></script>
</html>