/* line 5, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
header {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  font-size: 14px;
}
/* line 5, ../sass/_header.scss */
header .logo {
  margin-top: 12px;
}
/* line 8, ../sass/_header.scss */
header nav {
  margin-left: 10px;
}
/* line 11, ../sass/_header.scss */
header .nav-item {
  display: inline-block;
  width: 80px;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
}
/* line 18, ../sass/_header.scss */
header .nav-item:hover {
  background-color: #f2f3f4;
  text-decoration: none;
}
/* line 23, ../sass/_header.scss */
header .name-item {
  display: inline-block;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
}
/* line 30, ../sass/_header.scss */
header .start-btn {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  margin-left: 20px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background: -webkit-linear-gradient(to bottom, #55b5ff 0%, #2e86cb 100%);
  background: linear-gradient(to bottom, #55b5ff 0%, #2e86cb 100%);
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 43, ../sass/_header.scss */
header .start-btn span {
  position: relative;
  transition: all .5s ease-in-out;
}
/* line 47, ../sass/_header.scss */
header .start-btn:hover {
  text-decoration: none;
}
/* line 49, ../sass/_header.scss */
header .start-btn:hover span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 54, ../sass/_header.scss */
header .user-info {
  height: 70px;
  line-height: 70px;
}

/* line 1, ../sass/_section.scss */
.personal-index {
  width: 100px;
  padding: 10px;
}
/* line 4, ../sass/_section.scss */
.personal-index section {
  margin-bottom: 30px;
}
/* line 7, ../sass/_section.scss */
.personal-index h2 {
  margin: 10px 0;
}
/* line 10, ../sass/_section.scss */
.personal-index ul {
  font-size: 12px;
  line-height: 30px;
}
/* line 14, ../sass/_section.scss */
.personal-index a {
  color: #666666;
}
/* line 16, ../sass/_section.scss */
.personal-index a:hover {
  font-size: 14px;
  color: #337ab7;
}

/* line 5, ../sass/account.scss */
.fl {
  float: left;
}

/* line 8, ../sass/account.scss */
.fr {
  float: right;
}

/* line 11, ../sass/account.scss */
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 18, ../sass/account.scss */
.clearfix {
  zoom: 1;
}

/* line 21, ../sass/account.scss */
.none {
  display: none;
}

/* line 25, ../sass/account.scss */
a:link, a:hover, a:visited, a:active {
  text-decoration: none !important;
}

/* line 29, ../sass/account.scss */
.wrap {
  background-color: #ebeef1;
  overflow-x: hidden;
}

/* line 33, ../sass/account.scss */
.inner {
  width: 1000px;
  margin: 0 auto;
}

/* line 37, ../sass/account.scss */
.content {
  position: relative;
  margin: 20px -15px 0;
  min-height: 520px;
}

/* line 42, ../sass/account.scss */
.personal-index li {
  height: 30px;
}

/* line 45, ../sass/account.scss */
.innerCon {
  border: 1px solid #ededed;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-top: 15px;
  background-color: #fff;
  margin-left: 130px;
  margin-bottom: 40px;
}

/* line 54, ../sass/account.scss */
.acMoney, .j_account {
  display: inline-block;
  padding: 30px;
}

/* line 58, ../sass/account.scss */
.tabNav {
  border-bottom: 3px solid #ebeef1;
  height: 57px;
}
/* line 61, ../sass/account.scss */
.tabNav li {
  height: 57px;
  line-height: 57px;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 3px solid #ebeef1;
  padding: 0px 20px;
}
/* line 71, ../sass/account.scss */
.tabNav .cur {
  border-bottom: 3px solid #50abf2;
}

/* line 76, ../sass/account.scss */
.tabCon .box {
  padding: 27px 0px 40px 0px;
  margin: 0px 40px 0px 40px;
}
/* line 80, ../sass/account.scss */
.tabCon .group {
  margin-top: 25px;
}
/* line 82, ../sass/account.scss */
.tabCon .group:first-child {
  margin-top: 0;
}
/* line 85, ../sass/account.scss */
.tabCon .group > label {
  height: 34px;
  line-height: 34px;
  text-align: right;
  font-size: 14px;
  width: 80px;
}
/* line 92, ../sass/account.scss */
.tabCon .group p, .tabCon .group input, .tabCon .group > div {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}
/* line 98, ../sass/account.scss */
.tabCon .group textarea {
  width: 650px;
  height: 125px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 1px rgba(4, 0, 0, 0.05) inset;
  padding: 10px;
}
/* line 105, ../sass/account.scss */
.tabCon .group .button {
  width: 126px;
  height: 38px;
  background-color: #50abf2;
  color: #fff;
  margin-left: 90px;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* line 119, ../sass/account.scss */
.ads-title-bar {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  background-color: #eaebec;
}
/* line 124, ../sass/account.scss */
.ads-title-bar span {
  display: inline-block;
  width: 15%;
  text-align: center;
}
