/* line 5, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/_header.scss */
header {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  font-size: 14px;
}
/* line 5, ../sass/_header.scss */
header .logo {
  margin-top: 12px;
}
/* line 8, ../sass/_header.scss */
header nav {
  margin-left: 10px;
}
/* line 11, ../sass/_header.scss */
header .nav-item {
  display: inline-block;
  width: 80px;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
}
/* line 18, ../sass/_header.scss */
header .nav-item:hover {
  background-color: #f2f3f4;
  text-decoration: none;
}
/* line 23, ../sass/_header.scss */
header .name-item {
  display: inline-block;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
}
/* line 30, ../sass/_header.scss */
header .start-btn {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  margin-left: 20px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background: -webkit-linear-gradient(to bottom, #55b5ff 0%, #2e86cb 100%);
  background: linear-gradient(to bottom, #55b5ff 0%, #2e86cb 100%);
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 43, ../sass/_header.scss */
header .start-btn span {
  position: relative;
  transition: all .5s ease-in-out;
}
/* line 47, ../sass/_header.scss */
header .start-btn:hover {
  text-decoration: none;
}
/* line 49, ../sass/_header.scss */
header .start-btn:hover span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 54, ../sass/_header.scss */
header .user-info {
  height: 70px;
  line-height: 70px;
}

/* line 1, ../sass/_section.scss */
.personal-index {
  width: 100px;
  padding: 10px;
}
/* line 4, ../sass/_section.scss */
.personal-index section {
  margin-bottom: 30px;
}
/* line 7, ../sass/_section.scss */
.personal-index h2 {
  margin: 10px 0;
}
/* line 10, ../sass/_section.scss */
.personal-index ul {
  font-size: 12px;
  line-height: 30px;
}
/* line 14, ../sass/_section.scss */
.personal-index a {
  color: #666666;
}
/* line 16, ../sass/_section.scss */
.personal-index a:hover {
  font-size: 14px;
  color: #337ab7;
}

/* line 5, ../sass/proPay.scss */
.fl {
  float: left;
}

/* line 8, ../sass/proPay.scss */
.fr {
  float: right;
}

/* line 11, ../sass/proPay.scss */
.clearfix:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* line 18, ../sass/proPay.scss */
.clearfix {
  zoom: 1;
}

/* line 21, ../sass/proPay.scss */
.none {
  display: none;
}

/* line 25, ../sass/proPay.scss */
a:link, a:hover, a:visited, a:active {
  text-decoration: none !important;
}

/* line 29, ../sass/proPay.scss */
.wrap {
  background-color: #ebeef1;
  overflow-x: hidden;
}

/* line 33, ../sass/proPay.scss */
.inner {
  background: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 30px;
  width: 1000px;
  margin: 0 auto;
}

/* line 40, ../sass/proPay.scss */
.content {
  position: relative;
  margin: 20px -15px 0;
  min-height: 520px;
}

/* line 48, ../sass/proPay.scss */
.repay {
  border: 4px solid #f1f1f1;
  border-top: none;
  padding: 0px 22px;
  position: relative;
}
/* line 53, ../sass/proPay.scss */
.repay .rpTitle {
  font-size: 18px;
  height: 28px;
  line-height: 28px;
  padding: 19px 0px 23px 0px;
}
/* line 59, ../sass/proPay.scss */
.repay .rpCon {
  line-height: 24px;
  color: #666666;
  padding: 7px 0px 18px 0px;
}
/* line 64, ../sass/proPay.scss */
.repay .rpMoney {
  font-size: 24px;
  font-weight: bold;
  color: #50abf2;
  height: 36px;
  line-height: 36px;
  padding: 23px 0px 14px 0px;
}
/* line 72, ../sass/proPay.scss */
.repay .repayFooter {
  padding: 16px 0px;
  border-top: 1px solid #dcdcdc;
}
/* line 75, ../sass/proPay.scss */
.repay .repayFooter p {
  line-height: 22px;
  color: #666;
}

/* line 81, ../sass/proPay.scss */
.repay.cur {
  display: block !important;
  border: 4px solid #50abf2 !important;
}

/* line 85, ../sass/proPay.scss */
.repay:first-child {
  border-top: 4px solid #f1f1f1;
}

/* line 88, ../sass/proPay.scss */
.repay:hover {
  border-color: #50abf2;
  border-top: 4px solid #50abf2;
  margin-top: -4px;
}

/* line 93, ../sass/proPay.scss */
.repay:first-child:hover {
  margin-top: 0px;
}

/* line 97, ../sass/proPay.scss */
.box {
  padding: 27px 0px 40px 0px;
  margin: 0px 40px 0px 40px;
}

/* line 101, ../sass/proPay.scss */
.group {
  margin-top: 25px;
}
/* line 103, ../sass/proPay.scss */
.group:first-child {
  margin-top: 0;
}
/* line 106, ../sass/proPay.scss */
.group > label {
  height: 34px;
  line-height: 34px;
  text-align: right;
  font-size: 14px;
  width: 80px;
}
/* line 113, ../sass/proPay.scss */
.group p, .group input, .group > div {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  font-size: 14px;
}
/* line 119, ../sass/proPay.scss */
.group textarea {
  width: 650px;
  height: 125px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 1px rgba(4, 0, 0, 0.05) inset;
  padding: 10px;
}
/* line 126, ../sass/proPay.scss */
.group .button {
  width: 126px;
  height: 38px;
  background-color: #50abf2;
  color: #fff;
  margin-left: 90px;
  border: 0;
  outline: 0;
  text-align: center;
  font-size: 18px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
