/* line 5, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, D:/Ruby21-x64/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_common.scss */
.fl {
  float: left;
}

/* line 7, ../sass/_common.scss */
.fr {
  float: right;
}

/* line 10, ../sass/_common.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}

/* line 15, ../sass/_common.scss */
.clearfix:after {
  clear: both;
}

/* line 18, ../sass/_common.scss */
.clearfix {
  *zoom: 1;
}

/* line 21, ../sass/_common.scss */
.none {
  display: none;
}

/* line 24, ../sass/_common.scss */
a {
  text-decoration: none;
}

/* line 2, ../sass/register.scss */
body {
  font-family: "Microsoft YaHei";
  font-size: 14px;
  background-color: #e9e9e9;
}

/* line 7, ../sass/register.scss */
* {
  font-family: "Microsoft YaHei";
}

/* line 10, ../sass/register.scss */
header.navbar {
  min-height: 71px;
  background-color: #fff;
}

/* line 14, ../sass/register.scss */
.panel-body {
  padding: 15px;
}

/* line 17, ../sass/register.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 22, ../sass/register.scss */
.panel-simple {
  padding-bottom: 80px;
}
/* line 24, ../sass/register.scss */
.panel-simple .panel-heading {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  border-top: 1px solid #dcdcdc;
  margin: 47px 20px 0;
}
/* line 30, ../sass/register.scss */
.panel-simple .panel-heading .panel-title {
  text-align: center;
  font-size: 24px;
  position: relative;
  top: -22px;
  background: #ffffff;
  padding: 0 0.5em;
}
/* line 39, ../sass/register.scss */
.panel-simple form {
  max-width: 330px;
}
/* line 42, ../sass/register.scss */
.panel-simple .pretty-group {
  margin: 0;
  border-bottom: 1px #26becb solid;
  position: relative;
  height: 60px;
}
/* line 47, ../sass/register.scss */
.panel-simple .pretty-group:before {
  content: '';
  height: 5px;
  width: 100%;
  position: absolute;
  border-left: 1px solid #00c787;
  border-right: 1px solid #00c787;
  bottom: 0;
}
/* line 56, ../sass/register.scss */
.panel-simple .pretty-group label {
  position: absolute;
  bottom: 6px;
  margin-left: 10px;
  margin-bottom: 0;
  font-weight: normal;
  color: #7f7f7f;
  display: inline-block;
}
/* line 65, ../sass/register.scss */
.panel-simple .pretty-group .input-wrapper {
  margin-left: 60px;
  bottom: 0;
  min-width: 70%;
  position: absolute;
  display: inline-block;
  margin-bottom: 0;
}
/* line 73, ../sass/register.scss */
.panel-simple .pretty-group .form-control {
  display: inline-block;
  border: none;
  box-shadow: none;
  padding-bottom: 0;
  background: transparent;
}
/* line 80, ../sass/register.scss */
.panel-simple .pretty-group .error-block {
  position: absolute;
  bottom: -30px;
  margin-left: 10px;
  font-size: 14px;
  line-height: 19px;
  display: none;
}
/* line 89, ../sass/register.scss */
.panel-simple .pretty-group.has-error {
  margin-bottom: 35px;
}
/* line 91, ../sass/register.scss */
.panel-simple .pretty-group.has-error .error-block {
  display: block;
}
/* line 94, ../sass/register.scss */
.panel-simple .pretty-group.has-error .error-block:before {
  background-image: url(/images/icon-warning-sm-6c11ac00ff8d96adac13ca51744ef24b.png);
  height: 19px;
  width: 19px;
  margin-right: 4px;
  content: '';
  display: inline-block;
  background-size: 19px 19px;
  float: left;
}

/* line 106, ../sass/register.scss */
.checkbox-wrapper-pertty {
  display: inline-block;
  position: relative;
  height: 16px;
  width: 16px;
  line-height: 16px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
  margin-left: -20px;
  margin-right: 7px;
}

/* line 118, ../sass/register.scss */
.checkbox-wrapper-pertty input[type="checkbox"] {
  position: absolute;
  left: -9999px;
  visibility: hidden;
}
/* line 122, ../sass/register.scss */
.checkbox-wrapper-pertty input[type="checkbox"] + .selected-icon {
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  display: inline-block;
  background: #FFF;
  border: 1px solid #aab2bd;
}
/* line 130, ../sass/register.scss */
.checkbox-wrapper-pertty input[type="checkbox"] + .selected-icon:after {
  content: '';
  border: 2px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  height: 11px;
  width: 7px;
  -webkit-transform: rotate(43deg);
  -moz-transform: rotate(43deg);
  -ms-transform: rotate(43deg);
  -o-transform: rotate(43deg);
  transform: rotate(43deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 151, ../sass/register.scss */
.checkbox-wrapper-pertty input[type="checkbox"]:checked + .selected-icon {
  background-color: white;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  display: inline-block;
  background: #FFF;
  border: 1px solid #aab2bd;
}
/* line 159, ../sass/register.scss */
.checkbox-wrapper-pertty input[type="checkbox"]:checked + .selected-icon:after {
  border-bottom-color: #26becb;
  border-right-color: #26becb;
}

/* line 165, ../sass/register.scss */
.form-actions {
  margin-top: 21px;
}
