/* line 5, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_common.scss */
.fl {
  float: left;
}

/* line 7, ../sass/_common.scss */
.fr {
  float: right;
}

/* line 10, ../sass/_common.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: ' ';
}

/* line 15, ../sass/_common.scss */
.clearfix:after {
  clear: both;
}

/* line 18, ../sass/_common.scss */
.clearfix {
  *zoom: 1;
}

/* line 21, ../sass/_common.scss */
.none {
  display: none;
}

/* line 24, ../sass/_common.scss */
a {
  text-decoration: none;
}

/* line 27, ../sass/_common.scss */
html {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 1, ../sass/_header.scss */
header {
  border-bottom: 1px solid #eee;
  background-color: #fff;
  font-size: 14px;
}
/* line 5, ../sass/_header.scss */
header .logo {
  margin-top: 12px;
}
/* line 8, ../sass/_header.scss */
header nav {
  margin-left: 10px;
}
/* line 11, ../sass/_header.scss */
header .nav-item {
  display: inline-block;
  width: 80px;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
}
/* line 18, ../sass/_header.scss */
header .nav-item:hover {
  background-color: #f2f3f4;
  text-decoration: none;
}
/* line 23, ../sass/_header.scss */
header .name-item {
  display: inline-block;
  height: 70px;
  vertical-align: middle;
  line-height: 70px;
  text-align: center;
}
/* line 30, ../sass/_header.scss */
header .start-btn {
  position: relative;
  display: inline-block;
  margin-top: 18px;
  margin-left: 20px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background: -webkit-linear-gradient(to bottom, #55b5ff 0%, #2e86cb 100%);
  background: linear-gradient(to bottom, #55b5ff 0%, #2e86cb 100%);
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 43, ../sass/_header.scss */
header .start-btn span {
  position: relative;
  transition: all .5s ease-in-out;
}
/* line 47, ../sass/_header.scss */
header .start-btn:hover {
  text-decoration: none;
}
/* line 49, ../sass/_header.scss */
header .start-btn:hover span {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 54, ../sass/_header.scss */
header .user-info {
  height: 70px;
  line-height: 70px;
}

/* line 2, ../sass/_scan.scss */
.scan .main {
  position: relative;
}
/* line 5, ../sass/_scan.scss */
.scan .view {
  width: 300px;
  height: 200px;
  margin: 10px;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  -webkit-box-shadow: 1px 1px 2px #e6e6e6;
  -moz-box-shadow: 1px 1px 2px #e6e6e6;
  box-shadow: 1px 1px 2px #e6e6e6;
  cursor: pointer;
  background: #fff url(../images/hover_bg.jpg) no-repeat center center;
}
/* line 19, ../sass/_scan.scss */
.scan .view .mask, .scan .view .content {
  width: 300px;
  height: 200px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
/* line 27, ../sass/_scan.scss */
.scan .view img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
/* line 33, ../sass/_scan.scss */
.scan .view h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 16px;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.8);
  margin: 20px 0 0 0;
}
/* line 43, ../sass/_scan.scss */
.scan .view p {
  position: relative;
  padding: 10px 20px 20px;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  text-align: center;
}
/* line 51, ../sass/_scan.scss */
.scan .view a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 1px #000;
  -moz-box-shadow: 0 0 1px #000;
  box-shadow: 0 0 1px #000;
}
/* line 62, ../sass/_scan.scss */
.scan .view a.info:hover {
  -webkit-box-shadow: 0 0 5px #000;
  -moz-box-shadow: 0 0 5px #000;
  box-shadow: 0 0 5px #000;
}
/* line 67, ../sass/_scan.scss */
.scan .view-ninth .mask-1, .scan .view-ninth .mask-2 {
  background-color: rgba(0, 0, 0, 0.5);
  height: 361px;
  width: 361px;
  background: rgba(64, 153, 222, 0.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out 0.6s;
  -moz-transition: all 0.3s ease-in-out 0.6s;
  -o-transition: all 0.3s ease-in-out 0.6s;
  transition: all 0.3s ease-in-out 0.6s;
}
/* line 80, ../sass/_scan.scss */
.scan .view-ninth .mask-1 {
  left: auto;
  right: 0;
  -webkit-transform: rotate(56.5deg) translateX(-180px);
  -moz-transform: rotate(56.5deg) translateX(-180px);
  -o-transform: rotate(56.5deg) translateX(-180px);
  -ms-transform: rotate(56.5deg) translateX(-180px);
  transform: rotate(56.5deg) translateX(-180px);
  -webkit-transform-origin: 100% 0%;
  -moz-transform-origin: 100% 0%;
  -o-transform-origin: 100% 0%;
  -ms-transform-origin: 100% 0%;
  transform-origin: 100% 0%;
}
/* line 94, ../sass/_scan.scss */
.scan .view-ninth .mask-2 {
  top: auto;
  bottom: 0;
  -webkit-transform: rotate(56.5deg) translateX(180px);
  -moz-transform: rotate(56.5deg) translateX(180px);
  -o-transform: rotate(56.5deg) translateX(180px);
  -ms-transform: rotate(56.5deg) translateX(180px);
  transform: rotate(56.5deg) translateX(180px);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
}
/* line 108, ../sass/_scan.scss */
.scan .view-ninth .content {
  background: rgba(0, 0, 0, 0.9);
  height: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  width: 361px;
  overflow: hidden;
  -webkit-transform: rotate(-33.5deg) translate(-112px, 166px);
  -moz-transform: rotate(-33.5deg) translate(-112px, 166px);
  -o-transform: rotate(-33.5deg) translate(-112px, 166px);
  -ms-transform: rotate(-33.5deg) translate(-112px, 166px);
  transform: rotate(-33.5deg) translate(-112px, 166px);
  -webkit-transform-origin: 0% 100%;
  -moz-transform-origin: 0% 100%;
  -o-transform-origin: 0% 100%;
  -ms-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: all 0.4s ease-in-out 0.3s;
  -moz-transition: all 0.4s ease-in-out 0.3s;
  -o-transition: all 0.4s ease-in-out 0.3s;
  transition: all 0.4s ease-in-out 0.3s;
}
/* line 131, ../sass/_scan.scss */
.scan .view-ninth h2 {
  background: transparent;
  margin-top: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 136, ../sass/_scan.scss */
.scan .view-ninth a.info {
  display: none;
}
/* line 139, ../sass/_scan.scss */
.scan .view-ninth:hover .content {
  height: 120px;
  width: 300px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90);
  opacity: 0.9;
  top: 40px;
  -webkit-transform: rotate(0deg) translate(0, -10px);
  -moz-transform: rotate(0deg) translate(0, -10px);
  -o-transform: rotate(0deg) translate(0, -10px);
  -ms-transform: rotate(0deg) translate(0, -10px);
  transform: rotate(0deg) translate(0, -10px);
}
/* line 152, ../sass/_scan.scss */
.scan .view-ninth:hover .mask-1, .scan .view-ninth:hover .mask-2 {
  -webkit-transition-delay: 0s;
  -moz-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s;
}
/* line 158, ../sass/_scan.scss */
.scan .view-ninth:hover .mask-1 {
  -webkit-transform: rotate(56.5deg) translateX(-1px);
  -moz-transform: rotate(56.5deg) translateX(-1px);
  -o-transform: rotate(56.5deg) translateX(-1px);
  -ms-transform: rotate(56.5deg) translateX(-1px);
  transform: rotate(56.5deg) translateX(-1px);
}
/* line 165, ../sass/_scan.scss */
.scan .view-ninth:hover .mask-2 {
  -webkit-transform: rotate(56.5deg) translateX(1px);
  -moz-transform: rotate(56.5deg) translateX(1px);
  -o-transform: rotate(56.5deg) translateX(1px);
  -ms-transform: rotate(56.5deg) translateX(1px);
  transform: rotate(56.5deg) translateX(1px);
}
/* line 172, ../sass/_scan.scss */
.scan .content {
  margin: 0 -15px;
}
/* line 174, ../sass/_scan.scss */
.scan .content a, .scan .content a:link, .scan .content a:hover, .scan .content a:visited, .scan .content a:active {
  color: inherit;
}
/* line 178, ../sass/_scan.scss */
.scan .view-info {
  width: 60%;
  margin: 0 auto;
  color: #50abf2;
}
/* line 182, ../sass/_scan.scss */
.scan .view-info div {
  margin: 10px;
}
/* line 186, ../sass/_scan.scss */
.scan .classify-wrapper {
  padding: 20px 0;
  background-color: #f6f7f8;
}
/* line 190, ../sass/_scan.scss */
.scan .classify-inner {
  max-width: 970px;
  margin: 0 auto;
}
/* line 193, ../sass/_scan.scss */
.scan .classify-inner ul {
  margin: 5px 0;
}
/* line 196, ../sass/_scan.scss */
.scan .classify-inner li {
  padding: 10px 15px;
  margin: 5px 10px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #dcdcdc;
  color: #50abf2;
  font-size: 13px;
}
/* line 203, ../sass/_scan.scss */
.scan .classify-inner li:hover {
  background-color: #50abf2;
  color: #fff;
}
/* line 206, ../sass/_scan.scss */
.scan .classify-inner li:hover a {
  color: #fff;
}
/* line 212, ../sass/_scan.scss */
.scan li.classify-item-active {
  background-color: #50abf2;
  color: #fff;
}
/* line 216, ../sass/_scan.scss */
.scan .scan-pro {
  width: 970px;
  margin: 20px auto;
}

/* line 1, ../sass/_startPro.scss */
.start-pro {
  background-color: #f5f6f8;
  font-size: 14px;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 6, ../sass/_startPro.scss */
.start-pro a:hover {
  text-decoration: none !important;
}
/* line 10, ../sass/_startPro.scss */
.start-pro .content {
  position: relative;
  margin: 20px -15px 0;
  overflow-x: hidden;
}
/* line 15, ../sass/_startPro.scss */
.start-pro form {
  height: 650px;
}
/* line 18, ../sass/_startPro.scss */
.start-pro .info-list-wrap {
  width: 45%;
  margin: 0 auto;
}
/* line 22, ../sass/_startPro.scss */
.start-pro .info-list {
  padding: 0;
  width: 85%;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}
/* line 29, ../sass/_startPro.scss */
.start-pro .info-step {
  display: inline-block;
  width: 25%;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #d9d9d9;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}
/* line 40, ../sass/_startPro.scss */
.start-pro .info-step:nth-child(4) {
  border-right: 0;
}
/* line 43, ../sass/_startPro.scss */
.start-pro .info-step span {
  padding: 3px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  background-color: #55b5ff;
}
/* line 49, ../sass/_startPro.scss */
.start-pro .info-step:hover {
  background-color: #f7f8fa;
}
/* line 53, ../sass/_startPro.scss */
.start-pro .pre-scan-btn {
  display: inline-block;
  width: 10%;
  height: 50px;
  margin-left: 20px;
  line-height: 50px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  color: #000;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}
/* line 66, ../sass/_startPro.scss */
.start-pro .pre-scan-btn:hover {
  background-color: #f7f8fa;
}
/* line 70, ../sass/_startPro.scss */
.start-pro .info-item-active {
  color: #999;
}
/* line 72, ../sass/_startPro.scss */
.start-pro .info-item-active span {
  color: #fff;
  background-color: #ddd;
}
/* line 77, ../sass/_startPro.scss */
.start-pro .basic-info {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 80, ../sass/_startPro.scss */
.start-pro .basic-info-inner {
  margin-top: 20px;
  padding: 20px 50px;
  border: 1px solid #f1f1f1;
  background-color: #fff;
}
/* line 86, ../sass/_startPro.scss */
.start-pro .basic-info-con {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}
/* line 91, ../sass/_startPro.scss */
.start-pro .info-title {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  border-bottom: 3px solid #eee;
}
/* line 97, ../sass/_startPro.scss */
.start-pro .form-group {
  width: 70%;
  margin: 25px auto;
}
/* line 101, ../sass/_startPro.scss */
.start-pro form {
  margin: 30px 0;
}
/* line 104, ../sass/_startPro.scss */
.start-pro .user-info {
  width: 100%;
}
/* line 107, ../sass/_startPro.scss */
.start-pro .form-info {
  height: 35px;
  line-height: 20px;
  margin: 0 auto;
  padding: 5px 10px;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
/* line 119, ../sass/_startPro.scss */
.start-pro .form-info:focus,
.start-pro textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
/* line 126, ../sass/_startPro.scss */
.start-pro .form-info::-moz-placeholder {
  color: #999;
  opacity: 1;
}
/* line 130, ../sass/_startPro.scss */
.start-pro .form-info:-ms-input-placeholder {
  color: #999;
}
/* line 133, ../sass/_startPro.scss */
.start-pro .form-info::-webkit-input-placeholder {
  color: #999;
}
/* line 136, ../sass/_startPro.scss */
.start-pro .type-wrap {
  margin: 30px 0;
}
/* line 138, ../sass/_startPro.scss */
.start-pro .type-wrap > div {
  position: relative;
}
/* line 142, ../sass/_startPro.scss */
.start-pro .type-item {
  display: inline-block;
  width: 100px;
  margin-right: 20px;
  margin-bottom: 10px;
  line-height: 30px;
  border: 3px solid #f7f7f7;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}
/* line 152, ../sass/_startPro.scss */
.start-pro .type-item:hover {
  border-color: #50abf2;
  background: url(../images/type-choose.png) no-repeat top right;
}
/* line 157, ../sass/_startPro.scss */
.start-pro .type-item-active {
  border-color: #50abf2;
  background: url(../images/type-choose.png) no-repeat top right;
}
/* line 161, ../sass/_startPro.scss */
.start-pro .type-item + input {
  position: absolute;
  top: 0;
  visibility: hidden;
}
/* line 166, ../sass/_startPro.scss */
.start-pro .btn-apart {
  margin: 30px 0;
  text-align: center;
}
/* line 170, ../sass/_startPro.scss */
.start-pro .btn-next {
  display: inline-block;
  width: 250px;
  margin-right: 20px;
  border: 0;
  line-height: 50px;
  background-color: #50abf2;
  font-size: 20px;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 181, ../sass/_startPro.scss */
.start-pro .basic-info,
.start-pro .project-info,
.start-pro .detail-info,
.start-pro .payback-info {
  width: 100%;
  position: absolute;
  transition: all 1s ease-in-out;
  overflow: hidden;
}
/* line 190, ../sass/_startPro.scss */
.start-pro .slide-to-left {
  -moz-transform: translateX(-2000px);
  -ms-transform: translateX(-2000px);
  -webkit-transform: translateX(-2000px);
  transform: translateX(-2000px);
  visibility: hidden;
}
/* line 194, ../sass/_startPro.scss */
.start-pro .slide-to-right {
  -moz-transform: translateX(2000px);
  -ms-transform: translateX(2000px);
  -webkit-transform: translateX(2000px);
  transform: translateX(2000px);
  visibility: hidden;
}
/* line 198, ../sass/_startPro.scss */
.start-pro .slide-recovery {
  -moz-transform: translate(0);
  -ms-transform: translate(0);
  -webkit-transform: translate(0);
  transform: translate(0);
  visibility: visible;
}
/* line 202, ../sass/_startPro.scss */
.start-pro .pro-info {
  width: 70%;
  margin-left: 20px;
  margin-right: 5px;
}
/* line 207, ../sass/_startPro.scss */
.start-pro .upload-file {
  display: inline-block;
  width: 70px;
  height: 65px;
  margin-left: 20px;
  background: url(../images/upload.png) no-repeat;
  vertical-align: middle;
}
/* line 215, ../sass/_startPro.scss */
.start-pro #upload-file {
  display: inline-block;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
/* line 221, ../sass/_startPro.scss */
.start-pro .prescan-item {
  width: 230px;
  margin: 10px 20px;
  text-align: center;
}
/* line 225, ../sass/_startPro.scss */
.start-pro .prescan-item img {
  width: 100%;
  height: 154px;
}
/* line 230, ../sass/_startPro.scss */
.start-pro .del-btn {
  display: inline-block;
  width: 80px;
  margin: 5px 0;
  line-height: 30px;
  background-color: #55b5ff;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 239, ../sass/_startPro.scss */
.start-pro textarea {
  display: block;
  width: 90%;
  margin: 20px auto;
  resize: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -webkit-transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  text-indent: 2em;
}
/* line 249, ../sass/_startPro.scss */
.start-pro h3 {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 10px;
}
/* line 254, ../sass/_startPro.scss */
.start-pro .payback-form-group {
  width: 100%;
  margin: 25px 0;
  text-align: center;
}
/* line 259, ../sass/_startPro.scss */
.start-pro .payback-con {
  position: relative;
  height: 450px;
  overflow: hidden;
}
/* line 264, ../sass/_startPro.scss */
.start-pro .payback-outer {
  position: absolute;
  width: 100%;
  transition: all 1s ease-in-out;
}
/* line 269, ../sass/_startPro.scss */
.start-pro .payback-inner {
  background-color: #f4f4f4;
  padding: 1px;
  margin-bottom: 20px;
}
/* line 273, ../sass/_startPro.scss */
.start-pro .payback-inner input {
  width: 70%;
}
/* line 276, ../sass/_startPro.scss */
.start-pro .payback-inner textarea {
  display: inline-block;
  width: 70%;
  margin: 0;
  vertical-align: middle;
  text-indent: 0;
}
/* line 284, ../sass/_startPro.scss */
.start-pro .payback-slide-up {
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -webkit-transform: translateY(-1000px);
  transform: translateY(-1000px);
}
/* line 287, ../sass/_startPro.scss */
.start-pro .payback-slide-down {
  -moz-transform: translateY(1000px);
  -ms-transform: translateY(1000px);
  -webkit-transform: translateY(1000px);
  transform: translateY(1000px);
}
/* line 290, ../sass/_startPro.scss */
.start-pro .payback-normal {
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
/* line 293, ../sass/_startPro.scss */
.start-pro footer {
  margin: 0 -15px;
  background-color: #222;
  height: 300px;
  line-height: 30px;
}

/* line 1, ../sass/_preScan.scss */
a:link, a:hover, a:visited, a:active {
  text-decoration: none !important;
}

/* line 4, ../sass/_preScan.scss */
.content {
  position: relative;
  margin: 20px -15px 0;
  overflow-x: hidden;
}

/* line 9, ../sass/_preScan.scss */
.info-list-wrap {
  width: 45%;
  margin: 0 auto;
}

/* line 13, ../sass/_preScan.scss */
.info-list {
  padding: 0;
  width: 85%;
  border: 1px solid #d9d9d9;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  overflow: hidden;
}

/* line 20, ../sass/_preScan.scss */
.info-step {
  display: inline-block;
  width: 25%;
  height: 50px;
  line-height: 50px;
  border-right: 1px solid #d9d9d9;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
  cursor: pointer;
}
/* line 31, ../sass/_preScan.scss */
.info-step:nth-child(4) {
  border-right: 0;
}
/* line 34, ../sass/_preScan.scss */
.info-step span {
  padding: 3px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  background-color: #55b5ff;
}
/* line 40, ../sass/_preScan.scss */
.info-step:hover {
  background-color: #f7f8fa;
}

/* line 44, ../sass/_preScan.scss */
.pre-scan-btn {
  display: inline-block;
  width: 10%;
  height: 50px;
  margin-left: 20px;
  line-height: 50px;
  border: 1px solid #d9d9d9;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

/* line 57, ../sass/_preScan.scss */
.info-item-active {
  color: #999;
}
/* line 59, ../sass/_preScan.scss */
.info-item-active span {
  color: #fff;
  background-color: #ddd;
}

/* line 64, ../sass/_preScan.scss */
.pre-scan {
  background-color: #f5f6f8;
}
/* line 66, ../sass/_preScan.scss */
.pre-scan .wrapper {
  margin-top: 40px;
  background-color: #fff;
}
/* line 70, ../sass/_preScan.scss */
.pre-scan .pro-top {
  padding: 30px 0;
  border-bottom: 1px solid #eee;
  font-size: 12px;
  color: #999;
  text-align: center;
}
/* line 77, ../sass/_preScan.scss */
.pre-scan .pro-md {
  padding: 20px;
}
/* line 80, ../sass/_preScan.scss */
.pre-scan .pro-pre-img {
  width: 60%;
}
/* line 82, ../sass/_preScan.scss */
.pre-scan .pro-pre-img img {
  width: 100%;
}
/* line 86, ../sass/_preScan.scss */
.pre-scan .pro-pre-info {
  width: 40%;
  padding: 10px 0 10px 30px;
}
/* line 90, ../sass/_preScan.scss */
.pre-scan section {
  margin-bottom: 50px;
}
/* line 93, ../sass/_preScan.scss */
.pre-scan .pro-status {
  margin: 20px 0;
}
/* line 95, ../sass/_preScan.scss */
.pre-scan .pro-status h3 {
  font-size: 12px;
  font-weight: bold;
}
/* line 99, ../sass/_preScan.scss */
.pre-scan .pro-status p {
  font-size: 42px;
  margin-bottom: 15px;
  font-family: 'GothamBold,GothamBold1';
}
/* line 105, ../sass/_preScan.scss */
.pre-scan .rest-and-goal {
  font-size: 12px;
  color: #999;
}
/* line 108, ../sass/_preScan.scss */
.pre-scan .rest-and-goal b {
  color: #000;
}
/* line 112, ../sass/_preScan.scss */
.pre-scan .btn-support {
  position: relative;
  display: inline-block;
  width: 70%;
  margin: 50px auto 30px;
  background-color: #50abf2;
  color: #fff;
  font-size: 16px;
  line-height: 40px;
  text-align: center;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 123, ../sass/_preScan.scss */
.pre-scan .btn-support:active {
  box-shadow: 5px 5px 5px #2e86cb inset;
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
}
/* line 128, ../sass/_preScan.scss */
.pre-scan .info-header {
  position: relative;
  height: 44px;
}
/* line 131, ../sass/_preScan.scss */
.pre-scan .info-header p {
  height: 22px;
  border-bottom: 3px solid #f1f1f1;
}
/* line 135, ../sass/_preScan.scss */
.pre-scan .info-header h3 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 250px;
  margin: 0 auto;
  border: 3px solid #f1f1f1;
  text-align: center;
  background-color: #fff;
  line-height: 35px;
}
/* line 149, ../sass/_preScan.scss */
.pre-scan .pro-describe {
  margin: 20px 10px;
  text-indent: 2em;
  font-size: 15px;
  line-height: 20px;
}
/* line 155, ../sass/_preScan.scss */
.pre-scan .progress-bar {
  color: #000;
}

/* line 1, ../sass/_personal.scss */
.personal {
  min-height: 750px;
  padding-bottom: 40px;
  background-color: #ebeef1;
}
/* line 5, ../sass/_personal.scss */
.personal .inner {
  max-width: 1100px;
  margin: 0 auto;
}
/* line 9, ../sass/_personal.scss */
.personal .my-start-pro {
  margin-top: 10px;
  margin-left: 30px;
  padding: 0 20px;
  background-color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 15, ../sass/_personal.scss */
.personal .my-start-pro h2 {
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 3px solid #ebeef1;
  font-size: 15px;
  font-weight: bold;
  line-height: 30px;
  text-indent: 2em;
}
/* line 25, ../sass/_personal.scss */
.personal .pro-title-bar {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 12px;
  background-color: #eaebec;
}
/* line 30, ../sass/_personal.scss */
.personal .pro-title-bar span {
  display: inline-block;
  width: 120px;
  text-align: center;
}
/* line 36, ../sass/_personal.scss */
.personal .pro-item {
  border: 1px solid #e4e4e4;
  margin: 5px 0 10px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 41, ../sass/_personal.scss */
.personal .pro-info {
  padding: 10px;
  font-size: 12px;
  line-height: 16px;
  background-color: #f6f7f8;
}
/* line 47, ../sass/_personal.scss */
.personal .trash {
  display: inline-block;
  color: #000;
  font-size: 16px;
}
/* line 51, ../sass/_personal.scss */
.personal .trash:hover {
  color: #50abf2;
}
/* line 55, ../sass/_personal.scss */
.personal .pro-con {
  padding: 5px 10px;
}
/* line 57, ../sass/_personal.scss */
.personal .pro-con li {
  display: inline-block;
  width: 120px;
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
}
/* line 63, ../sass/_personal.scss */
.personal .pro-con li img {
  width: 100%;
  height: 100px;
}
/* line 69, ../sass/_personal.scss */
.personal .wait-check {
  color: #f0ad4e;
}
/* line 72, ../sass/_personal.scss */
.personal .check-pass {
  color: #449d44;
}
/* line 75, ../sass/_personal.scss */
.personal .check-unpass {
  color: #d9534f;
}
/* line 78, ../sass/_personal.scss */
.personal .no-start-pro {
  margin: 100px 0;
  background-color: #fff;
}
/* line 81, ../sass/_personal.scss */
.personal .no-start-pro p {
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
/* line 87, ../sass/_personal.scss */
.personal .no-start-pro .start-btn-wrapper {
  position: relative;
  width: 100px;
  height: 35px;
  margin: 20px auto;
  overflow: hidden;
}
/* line 94, ../sass/_personal.scss */
.personal .no-start-pro .start-btn-wrapper:hover a:before {
  transform: translateX(-30px);
}
/* line 99, ../sass/_personal.scss */
.personal .no-start-pro .start-btn {
  position: absolute;
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 2px solid #50abf2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  line-height: 35px;
  color: #50abf2;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
  transition: all .5s linear;
}
/* line 112, ../sass/_personal.scss */
.personal .no-start-pro .start-btn:before {
  position: absolute;
  display: inline-block;
  content: attr(data-con);
  width: 100px;
  height: 35px;
  line-height: 35px;
  color: #fff;
  background-color: #50abf2;
  transform: translateX(-130px);
  transition: all .4s linear;
}
/* line 125, ../sass/_personal.scss */
.personal .no-start-pro .no-pro-bg {
  height: 86px;
  background: url(../images/warn.png) no-repeat center -172px;
}

/* line 1, ../sass/_section.scss */
.personal-index {
  width: 100px;
  padding: 10px;
}
/* line 4, ../sass/_section.scss */
.personal-index section {
  margin-bottom: 30px;
}
/* line 7, ../sass/_section.scss */
.personal-index h2 {
  margin: 10px 0;
}
/* line 10, ../sass/_section.scss */
.personal-index ul {
  font-size: 12px;
  line-height: 30px;
}
/* line 14, ../sass/_section.scss */
.personal-index a {
  color: #666666;
}
/* line 16, ../sass/_section.scss */
.personal-index a:hover {
  font-size: 14px;
  color: #337ab7;
}

/* line 1, ../sass/components/_dialog.scss */
.jq-dialog {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}
/* line 10, ../sass/components/_dialog.scss */
.jq-dialog .jq-dialog-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 2px solid #eee;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fff;
}
/* line 19, ../sass/components/_dialog.scss */
.jq-dialog .jq-dialog-con {
  margin: 50px 40px;
  text-align: center;
  font-size: 15px;
}
/* line 24, ../sass/components/_dialog.scss */
.jq-dialog .jq-btn-group {
  text-align: center;
  margin: 20px 0 10px;
}
/* line 27, ../sass/components/_dialog.scss */
.jq-dialog .jq-btn-group a {
  display: inline-block;
  width: 70px;
  line-height: 30px;
  font-size: 13px;
  color: #fff;
  background-color: #50abf2;
  margin: 0 10px;
  text-decoration: none;
}
/* line 38, ../sass/components/_dialog.scss */
.jq-dialog .jq-close-tag {
  margin: 10px;
  cursor: pointer;
}

/* line 1, ../sass/_proTrends.scss */
.pro-trends {
  padding-bottom: 50px;
  min-height: 700px;
  background-color: #ebeef1;
}
/* line 5, ../sass/_proTrends.scss */
.pro-trends .trend-con {
  margin-top: 50px;
  min-height: 385px;
  background-color: #fff;
  font-size: 14px;
}
/* line 11, ../sass/_proTrends.scss */
.pro-trends h1 {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  font-size: 24px;
}
/* line 15, ../sass/_proTrends.scss */
.pro-trends h1 small {
  margin-left: 20px;
}
/* line 19, ../sass/_proTrends.scss */
.pro-trends .form-group {
  margin: 20px 0;
  padding-left: 30px;
}
/* line 23, ../sass/_proTrends.scss */
.pro-trends .disable-input {
  border: 0;
  -webkit-appearence: none;
  appearence: none;
  background-color: transparent;
}
/* line 29, ../sass/_proTrends.scss */
.pro-trends textarea {
  width: 80%;
  height: 100px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  vertical-align: top;
}
/* line 35, ../sass/_proTrends.scss */
.pro-trends .no-pro-bg {
  margin: 100px 0 30px;
  height: 87px;
  background: url(/images/warn.png) no-repeat center -172px;
}
/* line 40, ../sass/_proTrends.scss */
.pro-trends .no-pro-bg + p {
  margin-bottom: 40px;
  font-size: 16px;
  text-align: center;
}
/* line 45, ../sass/_proTrends.scss */
.pro-trends label {
  width: 15%;
  text-align: left;
}
/* line 49, ../sass/_proTrends.scss */
.pro-trends .upload-file {
  display: inline-block;
  width: 70px;
  height: 65px;
  background: url(/images/upload.png) no-repeat;
  vertical-align: middle;
}
/* line 56, ../sass/_proTrends.scss */
.pro-trends #upload-file {
  display: inline-block;
  width: 1px;
  height: 1px;
  visibility: hidden;
}
/* line 62, ../sass/_proTrends.scss */
.pro-trends .submit-btn {
  display: block;
  width: 100px;
  margin: 20px auto;
}
/* line 67, ../sass/_proTrends.scss */
.pro-trends .prescan-item {
  position: relative;
  margin: 20px auto;
  padding: 5px;
  border: 1px solid #eee;
  width: 150px;
  height: 100px;
}
/* line 74, ../sass/_proTrends.scss */
.pro-trends .prescan-item:nth-child(odd) {
  -moz-transform: rotate(-10deg);
  -ms-transform: rotate(-10deg);
  -webkit-transform: rotate(-10deg);
  transform: rotate(-10deg);
}
/* line 77, ../sass/_proTrends.scss */
.pro-trends .prescan-item:nth-child(even) {
  -moz-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
/* line 81, ../sass/_proTrends.scss */
.pro-trends .prescan-item:hover:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}
/* line 92, ../sass/_proTrends.scss */
.pro-trends .prescan-item:hover .del-btn {
  visibility: visible;
}
/* line 96, ../sass/_proTrends.scss */
.pro-trends .prescan-item img {
  width: 100%;
  height: 100%;
}
/* line 101, ../sass/_proTrends.scss */
.pro-trends .del-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  margin: 5px 0;
  line-height: 30px;
  background-color: #55b5ff;
  color: #fff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  visibility: hidden;
  z-index: 100;
}
